---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/sections/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} value="" description={entry.data.snippet}>
  <Container>
    <article class="max-w-3xl mx-auto pt-16 md:pt-24">
      <header class="text-center mb-8 md:mb-16">
        <div class="flex items-center justify-center gap-2 mb-4">
          <span
            class="text-sm font-medium text-primary dark:text-tertiary uppercase"
            transition:name={`category-${entry.slug}`}
          >
            {entry.data.category}
          </span>
          <span class="text-gray-400 dark:text-tertiary">•</span>
          <time
            class="text-sm text-gray-500 dark:text-tertiary"
            datetime={entry.data.publishDate.toISOString()}
            transition:name={`date-${entry.slug}`}
          >
            {entry.data.publishDate.toDateString()}
          </time>
        </div>

        <h1
          class="font-heading text-4xl md:text-5xl lg:text-6xl font-bold leading-tight tracking-tighter mb-6 dark:text-tertiary"
          transition:name={`title-${entry.slug}`}
        >
          {entry.data.title}
        </h1>

        <div class="flex items-center justify-center gap-4">
          <div class="flex items-center gap-2">
            <span class="text-gray-500 dark:text-tertiary">By</span>
            <span class="font-medium dark:text-tertiary"
              >{entry.data.author}</span
            >
          </div>
          {
            entry.data.tags && (
              <>
                <span class="text-gray-400 dark:text-tertiary">•</span>
                <div class="flex flex-wrap gap-2">
                  {entry.data.tags.map((tag: string) => (
                    <span class="text-sm text-gray-500 dark:text-tertiary">
                      #{tag}
                    </span>
                  ))}
                </div>
              </>
            )
          }
        </div>
      </header>

      {
        entry.data.image && (
          <div class="mb-12">
            <img
              src={entry.data.image.src}
              alt={entry.data.image.alt}
              class="w-full aspect-[2/1] object-cover rounded-xl bg-white dark:bg-secondary"
              transition:name={`img-${entry.slug}`}
            />
          </div>
        )
      }

      <div
        class="prose prose-lg mx-auto dark:prose-invert dark:text-tertiary prose-headings:dark:text-tertiary prose-a:dark:text-tertiary prose-strong:dark:text-tertiary"
        transition:name={`snippet-${entry.slug}`}
      >
        <Content />
      </div>

      <div class="flex justify-center gap-6 mt-16 mb-16">
        <a
          href="/blog"
          class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-gray-100 text-gray-900 hover:bg-gray-200 dark:bg-secondary dark:text-tertiary dark:hover:bg-tertiary dark:hover:text-secondary h-10 py-2 px-4"
        >
          ← Back to Blog
        </a>
        <a
          href="https://api.leadconnectorhq.com/widget/bookings/booking-type-1"
          class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-primary text-white hover:bg-secondary dark:hover:bg-tertiary dark:text-secondary h-10 py-2 px-4"
        >
          Book a Free Discovery Call
        </a>
      </div>
    </article>
  </Container>
</Layout>
