---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Container from "../components/sections/container.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Button from "components/shared/Button.astro";



//Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});




// Fetch content for about page

const aboutContent = await getCollection("team")

const { Content } = await aboutContent[0].render()

const defaultDescription = "Get to know the face behind Hinterland Web! From his upbringing in Portugal through the bustling city of Berlin to the quietness of the idyllic Noosa Hinterland."



---

<Layout title="About" value="about" description={defaultDescription}>
  <Container>
    <!-- <Sectionhead>
      <Title slot="title">My Story</Title>
      
    </Sectionhead> -->
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-40">
    <div class="flex flex-col gap-3 mx-auto max-w-4xl">
      <h1 class="text-6xl font-black text-secondary dark:text-tertiary">
        <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Olá!</span> <br/> My name is André 
      </h1>
      <Paragraph className="text-lg leading-relaxed">
        I am passionate about empowering local businesses and individuals in the digital world. The mission is simple: to help you establish and enhance your online presence, no matter where you're starting from.
      </Paragraph>
    </div>
    
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <img
                src={teamMemberEntry.data.image.src}
                alt={teamMemberEntry.data.image.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-lg transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-secondary dark:text-tertiary">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500 dark:text-primary">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
          <meta property="og:image" content={teamMemberEntry.data.image.src} />
          <meta property="og:title" content={teamMemberEntry.data.title} />
        ))
      }
    </div>
  
  <div class="flex flex-col gap-3 mx-auto max-w-4xl">
    <h2 class="font-bold text-4xl text-secondary dark:text-tertiary">
      It's never too late!
    </h2>
    <div class="prose-h2:text-heading-2 leading-relaxed prose-li:marker:text-secondary dark:prose-li:marker:text-tertiary prose-lg mt-6 dark:text-tertiary">

      <Content />


    </div>
  </div>
  <div class="mx-auto max-w-md sm:max-w-xl pt-10 text-center">
    <a href=`https://tidycal.com/silvandre/15-minute-meeting` target="_blank">
    <Button variant={"primary"}>
      <span class="text-white text-2xl relative z-[5]">Book a free call</span>
    </Button>
  </a>
  
  </div>
</div>
</Container>

</Layout>
