---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Container from "../components/sections/container.astro";
import HeaderSection from "../components/sections/header-section.astro";
import { Image } from "astro:assets";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const defaultDescription =
  "Our blog is a great place to start to understand why we do what we do at Hinterland Web.";
---

<Layout
  title="Welcome to our Blog of Knowledge"
  value="blog"
  description={defaultDescription}
>
  <Container>
    <div class="pt-16 md:pt-24 mt-24 text-left">
      <HeaderSection
        title="Welcome to Our Knowledge Base"
        subtitle="Discover insights about web development, design, and digital strategy. This is a collection of articles that intend to clarify all things about building an online presence"
      />

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12 mt-12 md:mt-16"
      >
        {
          publishedBlogEntries.map((post) => (
            <article class="group space-y-4">
              <a
                href={`/blog/${post.slug}`}
                class="block aspect-[16/9] group-hover:-translate-y-2 group-hover:shadow-xl transition duration-300"
              >
                <img
                  src={post.data.image.src}
                  alt={post.data.image.alt}
                  class="w-full h-full object-cover rounded-xl bg-white dark:bg-secondary"
                  width={720}
                  height={405}
                  transition:name={`img-${post.slug}`}
                />
              </a>

              <div class="flex items-center justify-between">
                <span
                  class="text-sm font-medium text-primary dark:text-tertiary uppercase"
                  transition:name={`category-${post.slug}`}
                >
                  {post.data.category}
                </span>
                <time
                  class="text-sm font-medium text-gray-500 dark:text-tertiary"
                  datetime={post.data.publishDate.toISOString()}
                  transition:name={`date-${post.slug}`}
                >
                  {post.data.publishDate.toDateString()}
                </time>
              </div>

              <div>
                <a href={`/blog/${post.slug}`} class="group-hover:underline">
                  <h2
                    class="font-heading text-xl md:text-2xl leading-snug line-clamp-3 dark:text-tertiary"
                    transition:name={`title-${post.slug}`}
                  >
                    {post.data.title}
                  </h2>
                </a>
                <p
                  class="mt-2 text-gray-500 dark:text-tertiary line-clamp-2"
                  transition:name={`snippet-${post.slug}`}
                >
                  {post.data.snippet}
                </p>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
